/*removing unnecessary space from body*/

body{
    margin: 0;
    padding: 0;
}
/*specifying header as flex layout*/
header{
    display: flex;
    width: 100%;
    height: 100%;
    align-content: stretch;
    flex: 1;
    
    }
/*defining flex-item styles*/

div{
    background-color: green;
    flex-direction: column;
    width: 33%;
    height: 500px;
    margin: 10px;
    padding: 10px;
    text-align: center; 
    box-sizing: border-box;
}
